*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

header{
    border-bottom: 3px solid #ccc;
    padding-bottom: 10px;
}

.header_warp{
    width: 1000px;
    margin: auto;
    background-color: #eee;
    text-align: center;
    padding-bottom: 10px;
}

.header_warp h1{
    padding: 10px 0;
}

.header_menu li{
    display: inline-block;
}

.header_menu li a{
    display: block;
    line-height: 30px;
    padding: 0 20px;
    background-color: #325785;
    color: #fff;
    border-radius: 10px;
}

#container{
    width: 1000px;
    margin: 10px auto 0;
}

.visual{
    height: 470px;
    background-image: url(../img/visu.png);
    text-align: right;
    padding: 150px 20px 0 0;   
}

.visual h2{
    font-size: 80px;
}

.content{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

aside{
    width: 270px;
    background-color: #eee;
    padding: 20px;
    text-align: center;
}

article{
    width: calc(100% - 280px);
    background-color: #eee;
    padding: 20px;
}

.content h3{
    font-size: 50px;
}

.aside_menu li a{
    display: block;
    background-color: green;
    color: #fff;
    margin-bottom: 10px;
}

.aside_menu li a:hover{
    background-color: black;
}
.content02{
    margin-top: 10px;
}
.content02 ul{
    display: flex;
}

.content02 ul li{
    width: calc((100% / 5) - 8px);
    background-color: #8080FF;
    margin-right: 10px;
    text-align: center;
}

.content02 ul li:last-child{
    margin-right: 0;
}

.content02 ul li a div{
    color: #fff;
}

.content02 ul li a div.text01{
    font-size: 25px;
}

.content02 ul li:hover{
    background-color: #000;
}

.content02 ul li:nth-child(4){
    order: 1;
}

.content02 ul li:nth-child(2){
    order: 2;
}

.content02 ul li:nth-child(3){
    order: 3;
}

.content02 ul li:nth-child(1){
    order: 4;
}

.content02 ul li:nth-child(5){
    order: 5;
}

footer{
    margin-top: 10px;
    background-color: #000;
    padding: 40px;
    text-align: center;
}

footer h4{
    color: #fff;
}

