@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-weight: 500;
}

h2, h3{
    font-weight: 300;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
#container{
    width: 800px;
    padding: 10px;
    border: 3px solid #8B4513;
    margin:  0 auto 0;
}

header h1{
    background-color: #8B4513;
    color: white;
    text-align: center;
    line-height: 80px;
}

nav{
    background-color: #DB7C37;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav li a{
    display: block;
    padding:  0 10px 0;
    color: white;
}

.visual{
    height: 300px;
    background-image: url(../img/visu.jpg);
    background-position: center;
    background-size: cover;
    padding: 200px 20px 0px 0px;
    text-align: right;
}

.visual > * {
    color: white;
}

.content{
    padding: 20px 0;
    text-align: center;
}

.content li{
    display: inline-block;
    width: 200px;
    margin: 0 12px;
}

.content li img{
    width: 100%;
}

.cont_img{
    overflow: hidden;
    border-radius: 30px 0;
}

.cont_btn{
    background-color: #8B4513;
    padding: 10px 20px;
    border-radius: 4px 0;
    color: #fff;
    margin-top: 3px;
    display: inline-block;
}

footer{
    background-color: #ccc;
    padding: 20px 0 10px 20px;
}

footer h3{
    color: #8B4513;
}
.foot_content{
    text-align: center;
}
.foot_content a{
    color: #eee;
    background-color: black;
    display: inline-block;
    padding: 0 10px;
    border-radius: 23px;
}